.my-container-1 {
    width: 70%;
    display: inline-block;
}

.contact-bar{
    background-color: aliceblue;
    border: 2px solid rgb(19, 215, 237);
    border-radius: 7px;
    height: 7.2rem;
    margin: 5px;
    width: 100%;
}

.name-bar{
    color: white;
    background-color: rgba(14, 183, 230, 0.736);
    margin: 4px 4px;
    height: 1.65rem;
}

.contact-items{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.contact-items input{
    text-align: center;
    width: 13rem;
    outline-style: none;
    border: none;
    background-color: white;
}

.contact-bar button {
    padding: 5px;
    margin-left: 6.3px;
    border: none;
    position: relative;
    border-radius:7px;
    color: whitesmoke;
}

.my-container-2 {
    position: absolute;
    right: 6rem;
    top: 5.2em;
}